---
layout: default
---

<div class="main__content details">
    {{content}}
    <h1 class="post-title p-name" itemprop="name headline">
        {{ page.title | escape }}
    </h1>
</div>

<div class="post-nav">
    <div>
        {% if page.previous.url %}
        <a href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
        {% endif %}
    </div>
    <div class="post-nav-next">
        {% if page.next.url %}
        <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
        {% endif %}
    </div>
</div>

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
